header{
   background: #30465c;
   color: #fff;
}

ul{
   list-style: none;
}

footer{
   text-align: center;
   background: #30465c;
   color: #fff;
}
a img{
   transition: all 500ms ease;
}
a img:hover {
   -webkit-transform:scale(1.3);
   transform:scale(1.3);
   transition: all 500ms ease;
}
footer h3{
   text-decoration: underline;
}
