h3 .btn.btn-link{
  font-weight: 200;
  color: #626262;
}
#o{
  font-weight: 200;
  color: #626262
}
.btn.btn-link{
  padding:0;
  font-size: 1em;
  color:#fff;
  text-decoration: none;
  transition: all 500ms ease;
}
.btn.btn-link:hover{
  color: #6ddede;
  font-size: 1.1em;
  text-decoration: none;
  transition: all 500ms ease;
}

h3 .btn.btn-link:hover{
  font-weight: bold;
}
